<footer class="page-footer">
  <div class="copyright-notice">
    © <%= Date.today.year %> <%= link_to "Julien Vanier LLC", "http://www.julienvanier.com/" %>
  </div>
  <p class="affiliation-notice">
    Channel Time not created by, affiliated with, or supported by Slack Technologies, Inc.
  </p>
  <div class="privacy-notice">
    <%= link_to "Privacy Policy", "/privacy" %>
    |
    <%= link_to "Support", "/support" %>
  </div>
</footer>
