---
title: Added to Slack!
---

<section class="page-content">
  <div class="content-row -reverse -centered">
    <div class="item -wide">
      <h1>Nice! You've added <%= data.project.name %> to your team.</h1>
    </div>

    <div class="item -narrow">
      <%= image_tag "thumbs-up.png" %>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="content-row -centered">
    <div class="item">
      <h1>What's next?</h1>
      <h2>Try this when you <a href="https://my.slack.com">go back to Slack</a></h2>
      <ul class="code-example-list">
        <li>/time I'll see you in 2 hours</li>
        <li>/time Let's meet from 3pm to 4pm</li>
        <li>/time I have to leave at 10am PST</li>
      </ul>
    </div>
  </div>
</section>
