<section class="page-header -small">
  <h1 class="title"><%= link_to data.project.name, "/", class: "link-undecorated" %></h1>
  <p class="tagline">Automatic time zone conversions for your team</p>
</section>

<section class="page-content">
  <div class="description-paragraph">
    <h1 class="title">Need help?</h1>
    <p class="body">
      If <%= link_to "Channel Time", "/" %> is not working for your, email <a href="mailto:support@<%= data.project.webhost %>">support@<%= data.project.webhost %></a> or fill out this form
      and I will get in touch with you shortly.
    </p>

    <h2 class="title">Know issue</h2>
    <blockquote>
      <p>Currently using <code>/time</code> in a DM only works if one of the participants is the person who added the Channel Time app to Slack.<br>
      I'm working on a fix it, but it may take a bit of time because it's related to authorization into private messages in Slack.</p>
    </blockquote>

<form class="jotform-form" action="https://submit.jotform.us/submit/60757883122157/" method="post" name="form_60757883122157" id="60757883122157" accept-charset="utf-8">
  <input type="hidden" name="formID" value="60757883122157" />
  <label class="form-label form-label-top form-label-auto" id="label_15" for="input_15"> Your Name </label>
  <div id="cid_15" class="form-input-wide jf-required">
    <input class="form-textbox" type="text" size="15" name="q15_yourName[first]" id="first_15" placeholder="First name">
    <input class="form-textbox" type="text" size="20" name="q15_yourName[last]" id="last_15" placeholder="Last name">
  </div>
  <label class="form-label form-label-top form-label-auto" id="label_16" for="input_16"> Your E-mail Address </label>
  <div id="cid_16" class="form-input-wide jf-required">
    <input type="email" class=" form-textbox validate[Email]" id="input_16" name="q16_email" size="32" value="" />
  </div>
  <label class="form-label form-label-top form-label-auto" id="label_20" for="input_20"> Your Slack team name </label>
  <div id="cid_20" class="form-input-wide jf-required">
    <input type="text" class=" form-textbox" data-type="input-textbox" id="input_20" name="q20_slackTeam" size="20" value="" />
  </div>
  <label class="form-label form-label-top form-label-auto" id="label_17" for="input_17"> Your Message </label>
  <div id="cid_17" class="form-input-wide jf-required">
    <textarea id="input_17" class="form-textarea" name="q17_yourMessage17" cols="55" rows="9"></textarea>
  </div>
  <div id="cid_14" class="form-input-wide">
    <div class="form-buttons-wrapper">
      <button id="input_14" type="submit" class="form-submit-button">
        Send email to Julien
      </button>
    </div>
  </div>
</form>
  </div>

  <h2 class="maker-signature">
    Made with ❤️ by <a href="http://www.julienvanier.com/" class="link-undecorated">Julien Vanier</a>, a slacker just like you.
  </h2>
</section>
